{% block head %}
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('user.static',filename='customer/css/login/styles.css') }}">
{% endblock %}

{% block body %}

    <section>
        <div class="flex-container">
            <div class="box-50 login-frame">
                <div class="">
                    <div class="center">
                        <h2>SimpleMeet for professionals</h2>
                        <p>Create an account or log in to manage your business.</p>
                    </div>

                    <div>
                        {% with messages = get_flashed_messages(with_categories=True) %}
                            {% if messages %}
                                {% for category,message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>

                    <div class="input-fields">
                        <form action="login" method="post">
                            {{ form.hidden_tag() }}
                            <div>
                                {{ form.email.label() }} <!-- email cim input lesz -->

                                {% if form.email.errors %}
                                    {{ form.email() }}
                                    <div>
                                        {% for error in form.email.errors %}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email() }}
                                {% endif %}
                            </div>

                            <div>
                                {{ form.password.label() }}
                                {% if form.password.errors %}
                                    {{ form.password() }}
                                    <div>
                                        {% for error in form.password.errors %}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password() }}
                                {% endif %}
                            </div>

                            <div>
                                {{ form.remember() }}
                                {{ form.remember.label() }}
                            </div>
                            <div>
                                {{ form.submit() }}
                            </div>
                        </form>
                    </div>
                    <div>
                        <p>Nincs fiókod? <a href="{{ url_for('user.signUp') }}">Regisztráció</a></p>
                    </div>
                </div>
            </div>
            <div class="box-50">
                <img class="box-100" src="{{ url_for('user.static',filename='customer/imgs/login/login-img.jpg') }}" alt="">
            </div>
        </div>
    </section>

{% endblock %}