/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
    --colorprimary: black;
    --colorsecondary: white; 
    --coloraccent: #576fcf;
    --colorshadow: #858585;
    --ff: "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
    --ff2: "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
    --p: 1rem/1.5em var(--ff);
    --h1: 600 3rem/1.2em var(--ff2);
    --h2: 600 2rem/1.2em var(--ff2);
    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 16px;
    --spacing4: 20px;
    --spacing5: 40px;
    --spacing6: 80px;
    --spacing7: 160px;
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}
body {
  text-wrap: balance;
  font: var(--p);
  background: var(--colorsecondary);
  color: var(--colorprimary);
}
h1 {
  font: var(--h1);
}
h2 {
  font: var(--h2);
  margin: var(--spacing2) 0;
}
p {
  margin: var(--spacing2) 0;
}
a {
  color: var(--colorprimary);
  text-decoration: none;
}
a:hover {
  color: var(--coloraccent);
}
.btn,
button {
  all: unset;
  display: inline-block;
  margin: var(--spacing2) 0;
  background: var(--colorsecondary);
  padding: var(--spacing2) var(--spacing3);
  color: var(--colorprimary);
  border-radius: var(--spacing2);
  border-bottom: solid var(--spacing1) var(--accent);
  font: var(--p);
  cursor: pointer;
}
.btn:hover,
button:hover {
  background: linear-gradient(180deg, var(--coloraccent), var(--coloraccent));
  transition: 0.3s ease-in-out;
}
img {
  width: 100%;
}

/* Utility Classes */
section {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}
.center {
  text-align: center;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing4);
  flex-wrap: wrap;
}
.flex > * {
  flex: 1;
  min-width: 400px;
}
.reverse {
  flex-direction: row-reverse;
}
.padding1 {
  padding: var(--spacing1) 0;
}
.padding2 {
  padding: var(--spacing2) 0;
}
.padding3 {
  padding: var(--spacing3) 0;
}
.padding4 {
  padding: var(--spacing4) 0;
}
.padding5 {
  padding: var(--spacing5) 0;
}
.padding6 {
  padding: var(--spacing6) 0;
}
.padding7 {
  padding: var(--spacing7) 0;
}
.margin1 {
  margin: var(--spacing1) auto;
}
.margin2 {
  margin: var(--spacing2) auto;
}
.margin3 {
  margin: var(--spacing3) auto;
}
.margin4 {
  margin: var(--spacing4) auto;
}
.margin5 {
  margin: var(--spacing5) auto;
}
.margin6 {
  margin: var(--spacing6) auto;
}
.margin7 {
  margin: var(--spacing7) auto;
}


.footer-section {
    padding-bottom: 8vh;
}

footer {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorprimary);
    color: var(--colorshadow);

}

footer ul {
    padding: 0;
}

footer h3 {
    font-family: var(--ff);
    color: var(--colorsecondary);
    font-size: 1rem;
}

footer a:visited {
    color: var(--colorsecondary);
}

footer a {
    font-family: var(--ff2);
    font-size: 1rem;
    text-decoration: none;
    color: var(--colorsecondary);
}

footer a:hover {
    color: var(--coloraccent);
    text-decoration: underline;
}

.footer-list-container ul {
    list-style-type: none;
}

.footer-list-container li {
    margin-bottom: 8px;
}

.footer-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    border-top: 2px solid var(--colorsecondary);
    padding-top: 20px;
}

.footer-logo{
    width: 100%;
    height: auto;
}

.footer-logo h2{
    margin: 0;
    margin-bottom: 20px;
    margin-top: 100px;
    color: var(--colorsecondary);
}

.main-footer-section {
    width: 90%;
    max-width: 1080px;
}

.footer-button-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--colorsecondary);
    padding-bottom: 8px;
    margin: 30px 0px;
}

.footer-button-container input {
    font-family: var(--ff);
    font-size: 1.15rem;
    background: transparent;
    color: var(--coloraccent);
    border: 2px solid var(--coloraccent);
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
}

.footer-button-container input:hover {
    background-color: var(--colorshadow);
}


.footer-section {
    display: flex;
    justify-content: space-between;
}


.footer-icon-container {
    display: flex;
    gap: 20px;
}

.footer-icon-container a {
    width: 24px;
    height: 24x;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

.footer-icon-container a:hover {
    transition: 0.3s;
    background-color: var(--coloraccent);


}

.footer-links-container {
    display: flex;
    gap: 20px;
}

@media (max-width: 549px) {


    .footer-links-container {
        display: grid;
        grid-auto-rows: 20px;
    }

    .footer-section {
        display: grid;
        gap: 20px;
    }

    .footer-button-container {
        display: grid;
        gap: 20px;
    }

    .footer-list-container {
        display: grid;
    }

}