<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('business.static',filename='css/dashboard/team/styles.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <!-- <h1>Üdvözöljuk {{ current_user.username }}</h1>
    <a href="{{ url_for('user.logout') }}">logout</a> -->

    <div class="container">
        <header>
            <div class="logo"><h1>SimpleMeet</h1></div>
                <div class="header-btns">
                    <a href="">pf</a>
            </div>
        </header>
        <div class="hero">
            <div class="side-bar">
                <a href="">calendar</a>
                <a href="">team</a>
            </div>
            <div class="content">
                {% block hero %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
