* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f1720;
    color: white;
    margin-top: 80px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 60px;

    background-color: #0f1720;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav a {
    text-decoration: none;
    color: #cbd5e1;
    font-size: 16px;
}

.nav a:hover {
    color: white;
}

.actions {
    display: flex;
    gap: 15px;
}

button {
    padding: 10px 18px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
}

.piacter {
    background: transparent;
    border: 1px solid #334155;
    color: white;
}

.regisztracio {
    background: rgb(22, 22, 22);
    border: none;
    color: white;
}

.menu {
    background: transparent;
    border: 1px solid #334155;
    color: white;
}




.fejlec {
    background-color: #1a1a1a;
    color: white;
    padding: 60px 20px 100px 20px;
    display: flex;           
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gomb-kontener {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    color: #ccc;
    margin-bottom: 30px;
}


button {
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
}

.fekete-gomb {
    background-color: #000;
    color: #fff;
    border: 1px solid #333;
}

.keretes-gomb {
    background-color: transparent;
    color: #fff;
    border: 1px solid #666;
}


.footer-section {
    padding-bottom: 8vh;
}

footer {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #858585;

}

footer ul {
    padding: 0;
}

footer h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffffd3;
    font-size: 1rem;
}

footer a:visited {
    color: #ffffffd3;
}

footer a {
    font-family: Archivo-Medium;
    font-size: 1rem;
    text-decoration: none;
    color: var(--colorsecondary);
}

footer a:hover {
    color: var(--coloraccent);
    text-decoration: underline;
}

.footer-list-container ul {
    list-style-type: none;
}

.footer-list-container li {
    margin-bottom: 8px;
}

.footer-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    border-top: 2px solid hwb(0 100% 0% / 0.827);
    padding-top: 20px;
}

.footer-logo{
    width: 100%;
    height: auto;
}

.footer-logo h2{
    margin: 0;
    margin-bottom: 20px;
    margin-top: 100px;
    color: var(--colorsecondary);
}

.main-footer-section {
    width: 90%;
    max-width: 1080px;
}

.footer-button-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid hwb(0 100% 0% / 0.827);
    padding-bottom: 8px;
    margin: 30px 0px;
}

.footer-button-container input {
    font-family: Archivo-SemiBold;
    font-size: 1.15rem;
    background: transparent;
    color: var(--coloraccent);
    border: 2px solid var(--coloraccent);
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
}

.footer-button-container input:hover {
    background-color: #576fcf20;
}


.footer-section {
    display: flex;
    justify-content: space-between;
}


.footer-icon-container {
    display: flex;
    gap: 20px;
}

.footer-icon-container a {
    width: 24px;
    height: 24x;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

.footer-icon-container a:hover {
    transition: 0.3s;
    background-color: var(--coloraccent);


}

.footer-links-container {
    display: flex;
    gap: 20px;
}

@media (max-width: 549px) {


    .footer-links-container {
        display: grid;
        grid-auto-rows: 20px;
    }

    .footer-section {
        display: grid;
        gap: 20px;
    }

    .footer-button-container {
        display: grid;
        gap: 20px;
    }

    .footer-list-container {
        display: grid;
    }

}