<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label() }}
            {% if form.name.errors %}
                {{ form.name() }}
                <div>
                    {% for error in form.name.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.name() }}
            {% endif %}
        </div>

        <div>
            {{ form.email.label() }}
            {% if form.email.errors %}
                {{ form.email() }}
                <div>
                    {% for error in form.email.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email() }}
            {% endif %}
        </div>

        <div>
            {{ form.photo.label() }}
            {% if form.photo.errors %}
                {{ form.photo() }}
                <div>
                    {% for error in form.photo.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.photo() }}
            {% endif %}
        </div>
        {% if filename %}
            <img src="{{ url_for('index.get_file',filename=filename) }}" width="300">
        {% endif %}

        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>