.flex-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-50{
    width: 50%;
}

.box-100{
    width: 100%;
}

.input-fields{
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.input-fields a{
  text-decoration: underline;
}

.input-field{
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-field input{
  width: 70%;
  height: 5vh;
  max-height: 46px;
  font-size: var(--p);
  /*font-family: var(--ff);*/
  border: 1px solid var(--colorshadow);
  border-radius: 8px;
  outline: none;
}



/*

.input-field input:focus, .input-field input:active{
  outline: none;
  transform: 100ms;
  border-bottom: 2px solid var(--colorprimary);
}
*/