{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='felhasznalo_fodrasz_oldal.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block body %}
    <div class="alap-fejléc">

        <div class="baloldal">
            <h1>BARMINÉV</h1>

            <div class="működősor">
                <span class="értékelés">5,0</span>

                <span class="csillagokban">
                    ★★★★★
                </span>

                <span class="visszajelzések">(332)</span>
                <span class="ponty">•</span>
                <span class="státusz">VÁLTOZÓ(nyitva/zárva)</span>
                <span class="ponty">•</span>
                <span class="cím">Debrecen 4032 Batthyány utca 2/b. </span>
                <a href="https://maps.app.goo.gl/Z1VvS3DxdmaJCpAn7" class="valami-kell-ide">Útbaigazítás megtekintése</a>
            </div>
        </div>
    
        <div class="jobboldal">
            <button class="icon-btn"><i class="fa-solid fa-share"></i></button>
            <button class="icon-btn"><i class="fa-regular fa-heart"></i></button>
        </div>
    </div>
{% endblock %}

