{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="fejlec">
        <h1>A szalonok és gyógyfürdők első számú szoftvere</h1>
        <p>Egyszerű, rugalmas és hatékony foglalási szoftver vállalkozása számára.</p>
        
        <div class="gomb-kontener">
            <button class="fekete-gomb">Vágj bele most</button>
            <button class="keretes-gomb">Áttekintés megtekintése</button>
        </div>
    </div>

    <div class="kep-kontener">
        <img src="ChatGPT Image 2026. febr. 28. 15_58_04.png" alt="Naptár" class="fokep">
    </div>

{% endblock %}