{% extends "base/template_for_business_setup.html" %}

{% block loaddingBar %}
    <div class="bar bar-active"></div>
    <div class="bar bar-inactive"></div>
    <div class="bar bar-inactive"></div>
    <div class="bar bar-inactive"></div>
{% endblock %}

{% block continueBtn %}
    <div>
        {{ form.submit(class="continue") }}
    </div>
{% endblock %}

{% block question %}
    <h1>What's your business name?</h1>
    <p>This is the brand name your client will see. Your billing and legal name can be added later.</p>
{% endblock %}

{% block form %}
{{ form.hidden_tag() }}
    <div class="field">
        <div>{{ form.name.label(class="") }}</div>
        {% if form.name.errors %}
            <div>{{ form.name() }}</div>
            <div>
                {% for error in form.name.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            <div>{{ form.name() }}</div>
        {% endif %}
    </div>

    <div class="field">
        <div>{{ form.website.label(class="") }}</div>
        {% if form.website.errors %}
            {{ form.website() }}
            <div>
                {% for error in form.website.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.website() }}
        {% endif %}
    </div>
{% endblock %}