{% extends "base/template_for_business_setup.html" %}

{% block loaddingBar %}
    <div class="bar bar-active"></div>
    <div class="bar bar-active"></div>
    <div class="bar bar-inactive"></div>
    <div class="bar bar-inactive"></div>
{% endblock %}



{% block continueBtn %}
    <div>
        {{ form.submit(class="continue") }}
    </div>
{% endblock %}

{% block question %}
<h1>Select categories that best describe your business</h1>
<p>Choose your primary and up to 3 related service type</p>
{% endblock %}

{% block form %}
    {{ form.hidden_tag() }}
    <div class="categories-options">
        {% for subfield in form.categories %}
            <div class="category">
                {{ subfield }}
                <label for="{{ subfield.id }}">
                    <img src="{{ url_for('business.static',filename='business/imgs/categories-icons/') }}{{subfield.data}}.png" alt="{{ subfield.data }}">
                    <p>{{ subfield.label.text }}</p>
                </label>
                    
                    
            </div>
        {% endfor %}
    </div>
    
{% endblock %}