{% extends "base/template_for_business_setup.html" %}

{% block loaddingBar %}
    <div class="bar bar-active"></div>
    <div class="bar bar-active"></div>
    <div class="bar bar-inactive"></div>
    <div class="bar bar-inactive"></div>
{% endblock %}



{% block continueBtn %}
    <div>
        {{ form.submit(class="continue") }}
    </div>
{% endblock %}

{% block question %}
<h1>Válassza ki azokat a kategóriákat, amelyek legjobban jellemzik vállalkozását!</h1>
<p>Válassza ki az elsődleges szolgáltatástípust.</p>
{% endblock %}

{% block form %}
    {{ form.hidden_tag() }}
    <div class="categories-options">
        {% for subfield in form.categories %}
            <div class="category">
                {{ subfield }}
                <label for="{{ subfield.id }}">
                    <img src="{{ url_for('business.static',filename='imgs/categories-icons/') }}{{subfield.data}}.png" alt="{{ subfield.data }}">
                    <p>{{ subfield.label.text }}</p>
                </label>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}