{% extends template_fort_business_setup %}

{% block loaddingBar %}
    <div class="bar-active"></div>
    <div class="bar-active"></div>
    <div class="bar-inactive"></div>
    <div class="bar-inactive"></div>
{% endblock %}



{% block continueBtn %}
    <div>
        {{ form.submit(class="continue") }}
    </div>
{% endblock %}

{% block question %}
<h1>Select categories that best describe your business</h1>
<p>Choose your primary and up to 3 related service type</p>
{% endblock %}

{% block form %}
{{ form.hidden_tag() }}
    <div class="field">
        <div>{{ form.business_name.label(class="") }}</div>
        {% if form.business_name.errors %}
            <div>{{ form.business_name() }}</div>
            <div>
                {% for error in form.business_name.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            <div>{{ form.business_name() }}</div>
        {% endif %}
    </div>

    <div class="field">
        <div>{{ form.website.label(class="") }}</div>
        {% if form.website.errors %}
            {{ form.website() }}
            <div>
                {% for error in form.website.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.website() }}
        {% endif %}
    </div>
{% endblock %}