{% block head %}
    <title>admin panel</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login/styles.css') }}">
{% endblock %}

{% block body %}

    <div class="flex section">
        <div class="login-frame">
            <div class="center section">
                <h1>SimpleMeet for professionals</h1>
                <p>Create an account or log in to manage your business.</p>
            </div>
        </div>
        <div class="section">
            <img class="img" src="{{ url_for('static',filename='imgs/login-img.jpg') }}" alt="">
        </div>
    </div>

{% endblock %}