<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% if form.agreeTerms.errors %}
            <div>{{ form.agreeTerms() }}</div>
            <div>
                {% for error in form.agreeTerms.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            <div>{{ form.agreeTerms() }}</div>
        {% endif %}

        {{ form.submit(class="continue") }}
    </form>
</body>
</html>