<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleMeet</title>
</head>
<body>
    <div>
        <form action="" method="post">
            {{ form.hidden_tag() }}

            <div>
                {{ form.name.label() }}
                {% if form.name.errors %}
                    {{ form.name() }}
                    <div>
                        {% for error in form.name.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name() }}
                {% endif %}
            </div>

            <div>
                {{ form.serviceType.label() }}
                {% if form.serviceType.errors %}
                    {{ form.serviceType() }}
                    <div>
                        {% for error in form.serviceType.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.serviceType() }}
                {% endif %}
            </div>

            <div>
                {{ form.duration.label() }}
                {% if form.duration.errors %}
                    {{ form.duration() }}
                    <div>
                        {% for error in form.duration.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.duration() }}
                {% endif %}
            </div>
        </form>
    </div>
</body>
</html>