<!DOCTYPE html>
<html lang="hu">
<head>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleMeet</title>
    
    
</head>
<body>
  


<header class="header">
    <div class="logo">SimpleMeet</div>

    <nav class="nav">
        <a href="#">Üzlettípusok</a>
        <a href="#">Funkciók</a>
        <a href="#">Árképzés</a>
    </nav>

    <div class="actions">
        <button class="piacter">Piactér</button>
        <button class="regisztracio">Regisztráció</button>
        <button class="menu">Menü ☰</button>
    </div>
</header>


<div class="fejlec">
        <h1>A szalonok és gyógyfürdők első számú szoftvere</h1>
        <p>Egyszerű, rugalmas és hatékony foglalási szoftver vállalkozása számára.</p>
        
        <div class="gomb-kontener">
            <button class="fekete-gomb">Vágj bele most</button>
            <button class="keretes-gomb">Áttekintés megtekintése</button>
        </div>
    </div>

<div class="kep-kontener">
    <img src="ChatGPT Image 2026. febr. 28. 15_58_04.png" alt="Naptár" class="fokep">
    
</div>


<footer class="section">
            <div class="main-footer-section">
                <div class="footer-logo"><h2>SimpleMeet</h2></div>
                <div class="footer-list-container">
                    <div class="footer-list">
                        <h3 class="bebas-neue-regular">Rólunk</h3>
                        <ul>
                            <li><a href="about.html">Cégünk</a></li>
                            <li><a href="about.html">Történetünk</a></li>
                            <li><a href="media.html">Média</a></li>
                        </ul>
                    </div>
                    <div class="footer-list">
                        <h3 class="bebas-neue-regular">Segítség</h3>
                        <ul>
                            <li><a href="contact-us.html">Kapcsolat</a></li>
                            <li><a href="gyik.html">GYIK</a></li>
                        </ul>
                    </div>
                    <div class="footer-list">
                        <h3 class="bebas-neue-regular">Jogi információk</h3>
                        <ul>
                            <li><a href="template.html">Felhasználási feltételek</a></li>
                            <li><a href="privacy-policy.html">Adatvédelmi irányelvek</a></li>
                            <li><a href="template.html">Cookie szabályzat</a></li>
                            <li><a href="template.html">Cookie beállítások</a></li>
                        </ul>
                    </div>
                </div>
        
                <div class="">
                    <div class="footer-button-container">
                        
                        <input type="button" value="Csatlakozom">
                    </div>
                </div>
        
                <div class="footer-section">
                    <div class="footer-links-container">
                        <span>&COPY; 2026 SimpleMeet | Minden jog fenntartva.</span>
                    </div>
                </div>
            </div>
        </footer>










</body>
</html>