<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('business.static', filename='base/styles.css') }}">
    <title>SimpleMeet - Business Account</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="loading-bar">
                {% block loaddingBar %}
                {% endblock %}
            </div>
            <div class="move-buttons">
                <div class="back"></div>
            </div>
        </div>

        <div class="hero">
            <div class="question">
                <h4>Accoutn setup</h4>
                {% block question %}
                {% endblock %}
            </div>

            <div class="input-fields">
                <form method="POST">
                    {% block form %}
                    {% endblock %}
                    {% block continueBtn %}
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>
</body>
</html>